####################################
# Visual Studio
####################################
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

####################################
# Build outputs
####################################
bin/
obj/
out/

####################################
# .NET Core
####################################
project.lock.json
project.fragment.lock.json
artifacts/

####################################
# NuGet
####################################
*.nupkg
*.snupkg
packages/
.nuget/NuGet.Config
.nuget/NuGet.targets
.nuget/NuGet.props

####################################
# Test results
####################################
TestResults/
coverage/
*.coverage
*.coveragexml

####################################
# Logs
####################################
*.log

####################################
# OS
####################################
Thumbs.db
.DS_Store
